language: python

sudo: false

matrix:
  include:
    - python: 2.7
      env:
      - TOXENV=py27
    - python: 3.4
      env:
      - TOXENV=py34
    - python: 3.5
      env:
      - TOXENV=py35
    - python: 3.6
      env:
      - TOXENV=py36
    - python: '3.7-dev'
      env:
      - TOXENV=py37
install:
  - pip install tox pycodestyle nose coverage unittest2 requests

script:
  - tox

after_success:
  - nosetests --with-coverage --cover-package=cloudipsp